<div class="user-page">
  <div class="container">
    <div class="user-heading">
      <div class="profile-image">
        <%= image_tag(@user.image.url(:medium)) %>
      </div>
      <div class="user-data">
        <h1> <%= @user.username %> </h1>
        <h4> Posts: <%= @user.wikis.count %> </h4>
        <h4> Likes: <%= @user.votes.count %></h4>
        <h4> Comments: <%= @user.comments.count %></h4>
        <h4> Followers: <%= @user.followers.count %></h4>
        <% if user_is_authorized? %>
          <p> <%= link_to "Edit Profile", edit_user_path, class: 'btn btn-default'%><p>
          <% else %>
            <% if current_user_is_following(current_user.id, @user.id) %>
              <%= link_to 'Unfollow', unfollow_user_path(@user.username), remote: true,  class: 'btn unfollow-button', id: 'unfollow-button', method: :post %>
            <% else %>
            <div class="follow-tag pull-right"><%= link_to 'Follow', follow_user_path(@user.username), remote: true, class: 'btn follow-button', id: 'follow-button', method: :post %></div>
          <% end %>
        <% end %>
        <div class="msg-btn pull-right">
          <%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="user-description">
      <p> About Me:</p>
      <% if @user.description == nil %>
      <p>No info posted</p>
      <% else %>
      <p> <%= @user.description %></p>
      <% end %>
    </div>
    <div>
      <h1 class="title-all">Posts</h1>
        <div class="user-posts-slick">
          <div class="scroller">
            <% if user_posts_nil? %>
              <p> You havent posted anything. </p>
              <% else %>
                <% @user.wikis.each do |wiki| %>
                  <section class="slick-index">
                    <%= link_to image_tag(wiki.image.url(:medium)), wiki %>
                    <a> <%= link_to wiki.title, wiki %> </a>
                    <p> <%= wiki.votes.count %> Likes </p>
                    <p> <%= wiki.comments.count %> Comments </p>
                    <p> <%= wiki.impressionist_count %> views </p>
                  </section>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    <div>
      <h1 class="title-all">Likes</h1>
        <div class="user-posts-slick">
          <div class="scroller">
            <% if user_votes_nil? %>
              <p> You haven't liked anything yet.</p>
              <% else %>
                <% @user.votes.each do |vote| %>
                  <section class="slick-index">
                    <%= image_tag(vote.wiki.image.url(:medium)) %>
                    <h4> <%= link_to vote.wiki.title, wiki_path(vote.wiki) %> </h4>
                    <p> <%= vote.wiki.votes.count %> Likes</p>
                    <p> <%= vote.wiki.comments.count %> Comments</p>
                    <p> <%= vote.wiki.impressionist_count %> views </p>
                  </section>
                <% end %>
            <%end %>
        </div>
      </div>
    </div>
    <h1 class="title-all">Followers</h1>
    <% if user_followers_nil?  %>
    <p class="user-followers"> No followers. </p>
    <% else %>
    <div class="user-followers">
      <% @user.followers.each do |follower| %>
      <div class="follower-each col-sm-2">
        <%= image_tag(follower.image.url(:medium)) %>
        <p><%= link_to follower.username, user_path(follower) %></p>
        <p><%= follower.wikis.count %> Posts </p>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
