<div class="user-page">
  <div class="container">
    <div class="user-heading">
      <div class="profile-image">
        <%= image_tag(@user.image.url(:medium)) %>
      </div>
      <div class="user-data">
        <h1> <%= @user.username %> </h1>
        <h4> Posts: <%= @user.wikis.count %> </h4>
        <h4> Likes: <%= @user.votes.count %></h4>
        <h4> Comments: <%= @user.comments.count %></h4>
        <p> <%= link_to "Edit Profile", edit_user_path, class: 'btn btn-default'%><p>
      </div>
      <div class="user-description">
        <p> About Me: <%= @user.description %></p>
      </div>
    </div>
    <div>
      <h1>Posts</h1>
      <div class="wiki-style">
        <% @user.wikis.each do |wiki| %>
         <%= link_to image_tag(wiki.image.url(:medium)), wiki %>
        <% end %>
      </div>
    </div>
    <div>
      <h1>Likes</h1>
      <div class="wiki-style">
        <% @user.votes.each do |vote| %>
         <%= image_tag(vote.wiki.image.url(:medium)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
