<h1 class="wiki-title">Travel the world</h1>
  <!-- <div class="container col-md-12 wiki-btn">
   <%= link_to "New Post", new_wiki_path, class: 'btn btn-success' %>
 </div> -->
 <% content_for(:sidebar) do %>
  <%= render partial: 'layouts/sidebar' %>
 <% end %>
  <div class="main">
      <% @wikis.each do |wiki| %>
          <div class="wiki-style col-sm-3">
              <%= link_to image_tag(wiki.image.url(:medium)), wiki %>
              <h4 class="link"><%= link_to wiki.title, wiki %></h4>
              <div class="wiki-details">
                <h5>Description:<%= wiki.description %> </h5>
                <small><%=  link_to wiki.user.username, user_path(wiki.user)%></small>
                <small><%= render partial: 'votes/like', locals: { wiki: wiki } %></small>
                <small><%= wiki.comments.count %> Comments</small>
              </div>
            </div>
      <% end %>
    </div>
