<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travelog</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-bar">
      <ul class="nav nav-pills navbar-inverse navigation">
      <li class="presentation"> <%= link_to "Travelog", welcome_index_path, :class=>'glyphicon glyphicon-globe' %></li>
      <li class="presentation"> <%= link_to "Explore", wikis_path %></li>
      <% if user_signed_in? %>
      <li class="presentation"> <%= link_to "Create", new_wiki_path %></li>
      <div class="avatar-button btn-group pull-right">
        <button type="button" class="btn btn-default btn-avatar">  <%= image_tag(current_user.image.url(:thumb)) %></button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
          <ul class="dropdown-menu">
            <li><a><%= link_to current_user.username, user_path(current_user) %></a></li>
            <%# <li><%= link_to 'Edit profile', edit_user_path, :class => 'navbar-link' %></li>
            <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
            <li> <%= link_to "Upgrade to premium", new_charge_path %> </li>
          <ul>
      </div>
     <% else %>
      <li role="presentation"> <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> </li>
      <li role="presentation"> <%= link_to "Log In", new_user_session_path, :class => 'navbar-link'  %> </li>
     <% end %>
   </ul>
 </div>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= yield :sidebar %>
<%= yield %>

</body>
</html>
