<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blocipedia</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>
<body>
    <div class="container bar">
      <ul class="nav nav-pills navbar-inverse navigation">
        <li role="presentation"> <%= link_to "Blocipedia", welcome_index_path %></li>
        <li role="presentation"> <%= link_to "Wikis", wikis_path %></li>
        <% if user_signed_in? %>
         Signed in as: <strong class="navbar-left"><%= link_to current_user.email, user_path(current_user) %></strong> |
        <li role="presentation navbar-left"> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
        <li role="presentation navbar-left"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
       <% else %>
        <li role="presentation"> <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> </li>
        <li role="presentation"> <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %> </li>
       <% end %>
     </ul>
   </div>




    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

<%= yield %>


</body>
</html>
