<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travelog</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-bar">
    <ul class="nav nav-pills navbar-inverse navigation">
      <li class="presentation nav-logo"><i class="fa fa-grav fa-lg" aria-hidden="true"> <%= link_to "Travelog", welcome_index_path %></i></li>
      <li class="presentation explore-btn"><i class="icon-explore fa fa-map-pin fa-lg" aria-hidden="true"></i> <%= link_to "Explore", all_wikis_path %></li>
        <div class="search-bar">
          <%= form_tag(wikis_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Logs" %>
            <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
          <% end %>
        </div>
        <% if user_signed_in? %>
        <li class="presentation share-btn"><i class="icon-share fa fa-camera-retro fa-lg" aria-hidden="true"></i> <%= link_to "Share", new_wiki_path %></li>
      <div class="avatar-button btn-group pull-right">
        <button type="button" class="btn btn-default btn-avatar">  <%= image_tag(current_user.image.url(:thumb)) %></button>
        <button type="button" class="btn btn-default dropdown-toggle btn-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
          <ul class="dropdown-menu">
            <li><i class="fa fa-user-circle-o" aria-hidden="true"> <%= link_to current_user.username, user_path(current_user) %></i></li>
            <li><i class="fa fa-pencil-square-o" aria-hidden="true"> <%= link_to 'Edit profile', edit_user_path(current_user) %></i></li>
            <li><i class="fa fa-sign-out" aria-hidden="true"> <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></i></li>
            <li><i class="fa fa-user-plus" aria-hidden="true"> <%= link_to "Upgrade to premium", new_charge_path %></i></li>
          </ul>
      </div>
      <div class="btn-group notification-btn pull-right" data-behavior="notifications">
        <div class="glyphicon glyphicon-bell"></div>
        <span data-behavior="unread-count"></span>
        <button type="button" class="btn btn-default dropdown-toggle btn-avatar-notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-behavior="notifications-link">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" data-behavior="notification-items"></ul>
      </div>
      <div class="message-btn pull-right">
        <a href="/conversations"><i class="fa fa-commenting fa-lg" aria-hidden="true"></i></a>
      </div>
     <% else %>
     <div class="user-session">
        <li class="pull-right"> <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'  %> </li>
        <li class="pull-right"> <%= link_to "Log In", new_user_session_path, class: 'btn btn-default'  %> </li>
     </div>
     <% end %>
   </ul>
 </div>
 <%= render 'layouts/navbar' %>

    <% if flash[:notice] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert-wrapper">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
<%= yield %>
</body>
</html>
